<footer class="site-footer">

  <div class="wrapper">

    
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        
        <p>hello<i class="fa fa-at"></i>santina<i class="fa fa-circle" style="font-size:3px;padding:0.5px;"></i>me</p>
        
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>

      <div class="footer-col footer-col-4">
        <a href="https://ca.linkedin.com/in/santinalin"><i class="contact fa fa-linkedin"></i></a>
        <a href="https://github.com/santina"><i class="contact fa fa-github"></i></a>
        <a href="https://twitter.com/santinasaur"><i class="contact fa fa-twitter"></i></a>
      </div>

     
    </div>

  </div>

</footer>
